.button {
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-height: 44px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  touch-action: manipulation;
}

.button:disabled {
  cursor: not-allowed;
  color: var(--disabled);
  border: 1px solid grey;
}

.button__variant--primary:disabled {
  background: var(--background-disabled);
}

.button__variant--secondary:disabled {
  background: transparent;
}

.button__fullWidth {
  width: 100%;
}

.button__variant--primary {
  background: var(--primary);
  color: var(--text-on-brand);
}

.button__variant--primary:hover:enabled {
  background: var(--interactive-fill-brand-hover);
}

.button__variant--primary:active:enabled {
  background: var(--interactive-fill-brand-active);
}

.button__variant--secondary {
  background: var(--background-default);
  color: var(--primary);
  border: 1px solid transparent;
  padding: 8px 12px;
}

.button__variant--secondary:hover:enabled {
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.button__variant--secondary:active:enabled {
  background: var(--background-active);
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.button__variant--outline {
  background: var(--background-default);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
}

.button__variant--outline:hover:enabled {
  background: var(--interactive-fill-brand-hover);
  color: var(--text-on-brand);
  border: 1px solid var(--interactive-fill-brand-hover);
  border-radius: 4px;
}

.button__variant--outline:active:enabled {
  background: var(--interactive-fill-brand-active);
  color: var(--text-on-brand);
  border: 1px solid var(--interactive-fill-brand-active);
  border-radius: 4px;
}

.button__icon-position--left {
  flex-direction: row;
}

.button__icon-position--right {
  flex-direction: row-reverse;
}

.button__size--s {
  min-height: 32px;
  font-size: 14px;
  padding: 4px 10px;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
  }
}
